<p id="notice"><%= notice %></p>

<h1>Inpatients</h1>

<table>
  <thead>
    <tr>
      <th>Date of add</th>
      <th>Date of dis</th>
      <th>Advance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inpatients.each do |inpatient| %>
      <tr>
        <td><%= inpatient.date_of_add %></td>
        <td><%= inpatient.date_of_dis %></td>
        <td><%= inpatient.advance %></td>
        <td><%= link_to 'Show', inpatient %></td>
        <td><%= link_to 'Edit', edit_inpatient_path(inpatient) %></td>
        <td><%= link_to 'Destroy', inpatient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inpatient', new_inpatient_path %>
