
<%= simple_form_for(@labtable) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.collection_select :doctortable_id, Doctortable.order(:doctor_name), :id, :doctor_name, prompt: "Choose a Doctor name" %>

    <%= f.input :pid %>
    <%= f.input :dt %>
    <%= f.input :category %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
